/* index */
/* header */
.flex-container{
    display: flex;
    width: 100%;
    height: 95px;
    background-color: black;
    justify-content: space-between;
}

.logo{
    width: 180px;
    /*margin-left: auto;
    margin-right: auto;*/
    justify-content: flex-start;
    height: auto;
}

header li{
    display: flex;
    display: inline;
    padding-left: 30px;
}

header li a{
    color: black;
    text-decoration: none;
    padding: 13px;
}

header li a:hover{
    color: royalblue;
}

header ul #loginandsignup a{
    color: black;
    background-color:aliceblue;
    border-radius: 30px;
    float: right;
    position: relative;
    margin: 10px;
}

header ul #loginandsignup a:hover{
    background-color: grey;
}

/* body */
.bodyindex{
    margin: 0px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Zen Dots', cursive;
}

.flex-container-nav{
    display: inline;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.flex-container-nav-li{
    display: inline;
}

body li{
    /*display: inline;
    /*padding-left: 70px;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

body li a{
    font-family: 'Zen Dots', cursive;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 13px;
}

body li a:hover{
    color: royalblue;
}

/* video background */
h1{
    padding: 10px;
    text-align: center;
  }
  
  .video-container{
    width: 100vw;
    height: 100vh;
  }
  
   iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
  }
  
  #text{
    font-family: 'Zen Dots', cursive;
    font-size: 15px;
    position: absolute;
    color: #FFFFFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      height: 56.25vw;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      width: 177.78vh;
    }
  }

  .flex-container-game{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: pink;
    align-content: space-between;
  }

  .gamephoto{
    /*width: 450px;
    height: 450px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%
  }

/* color link */
body a{
  color: greenyellow;
}


  /* img game flex */

  .container {
    display: flex;
    width: 100%;
    background-color: slategray;
    flex-wrap: wrap;

}

.flex-item {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;

    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.flex-img img {
    max-width: 100%;
}

.flex-info {
    margin-top: auto;
}

@media (max-width: 920px) {
    .flex-item {
        flex: 1 21%;
    }

}
@media screen and (max-width: 800px) {
.flex-item {
flex: 1 35%;
max-width: 46%;
}
}

img{
width: 600px;
height: 200px;
}

/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.containerfoot{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/* contact.html */
.bodycontact{
  margin: 0px;
  background-color: slategray;
  color: black;
  text-align: center;
  font-family: 'Zen Dots', cursive;
}

